@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Noto+Sans+JP:wght@900&family=Noto+Sans+Mende+Kikakui&family=Oswald:wght@500&family=Poppins:wght@400;500;600&family=Raleway&family=Roboto:wght@400;500;700&display=swap');

body {
    margin: 0;
}

p {
    margin-bottom: 0;
    font-weight: 500
}

.topbar {
    width: 100%;
    background: rgb(105, 20, 167);

}

.topbartxt {
    background: rgb(105, 20, 167);
    text-align: center;
    padding: 8px;
    margin-bottom: 2px;
    font-size: 13px;

}

header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 10;
}

.nav-item::after {
    content: '';
    display: block;
    width: 0px;
    height: 2px;
    margin-left: 8px;
    margin-top: 0px;
    background: rgb(105, 20, 167);
    transition: 0.4s
}


.nav-item:hover::after {
    width: 100%
}

.nav-link:hover {
    color: rgb(105, 20, 167)
}

.nav-link {
    transition: .2s;
    color: rgb(118, 29, 181);
    font-size: 18px;
    font-weight: bold;
    margin-left: 1rem;

}



.slideimgsize {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.cortxtprt {
    text-align: left;
    width: 100rem;

}

.corh1a,
.corh1b {
    font-size: 60px;
    font-family: 'Poppins', sans-serif;
    font-weight: 550;
    margin-left: 9rem;
}

.corh1a {
    margin-bottom: 2.5rem;
}

.corh1b {
    margin-bottom: 0.5rem;
}

.corp1 {
    font-size: 16px;
    margin-bottom: 3.3rem;
    margin-left: 9rem;
}


/* @media (max-width:300px){
    .corp1{
        font-size:2.5rem;
    }

} */

.btn1 {
    font-size: 18px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 1rem;
    margin-left: 9rem;
    padding: 1.2rem;
    padding-left: 2.6rem;
    padding-right: 2.6rem;
    background: rgb(105, 20, 167);
    color: white;
}

.btn1:hover {
    background: rgb(86, 11, 139);
}

.btn2 {
    font-size: 18px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 1rem;
    margin-left: 29rem;
    padding: 1.2rem;
    padding-left: 2.6rem;
    padding-right: 2.6rem;
    background: rgb(105, 20, 167);
    color: white;
    border: none;

}

.btn2:hover {
    background: rgb(86, 11, 139);
}

.hed2 {
    color: rgb(91, 14, 147);
    margin-top: 6rem;
    margin-left: 5rem;
    margin-bottom: 1rem;

}

.hed3 {
    color: rgb(105, 20, 167);
    font-size: large;
    margin-left: 5rem;

}

.para2 {
    color: rgb(100, 100, 100);
    margin-left: 5rem;

}

.btn3 {
    font-size: 15px;
    font-weight: 450;
    font-family: 'Poppins', sans-serif;
    margin-top: 2rem;
    margin-left: 5rem;
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    background: rgb(105, 20, 167);
    color: white;
}

.imginpart2 {
    height: 95%;
    margin-left: 10%;
    margin-top: 9%;
}
.coursehed1 {
    text-align: center;
    padding-top: 6%;
    margin-bottom: 2%;
    font-weight: 700;
}

.ourh2 {
    color: rgb(92, 18, 146);
}

.courseh2 {
    color: rgb(130, 42, 193);
}

.crstopprt {
    background: white;
    margin-left: 6%;
    margin-right: 6%;
    transition: .4s ease-in-out;
}

.crstopprt:hover {
    box-shadow: 0px 0px 25px -5px rgba(0, 0, 0, 0.39);
    transform: scale(1.01);

}

.corsimg1 {
    width: 100%;
}

.courstxtpt {
    background: white;
    height: 100%;
    width: 90%;
    padding: 9%;
    padding-right: 0%;

}

.crshed1 {
    color: rgb(130, 42, 193);
    font-size: 20px;
    margin-bottom: 4%;
}

.crstxtptcntnt {
    font-size: 15px;


}

.crstxtstrnpt {
    font-size: 14px;
    margin-top: 3%;
    color: rgb(83, 83, 83);
}

.crstxtstrnptatag {
    color: rgb(83, 83, 83);
}

.crdrow {
    width: 92%;
    margin-left: 5%;
}

.card {
    width: 95%;
    border: none;
    padding: .8rem;
    transition: .4s ease-in-out;

}

.card:hover {
    box-shadow: 0px 0px 25px -5px rgba(0, 0, 0, 0.39);
    transform: scale(1.01);
}

.card-title {
    height: 4.5rem;
    color: rgb(92, 18, 146);
}

.card-text {
    height: 6rem;
}

.crdbtn {
    margin-top: 1rem;
    margin-bottom: 3rem;
}